/* GENERAL */

*{
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    color: white;
}

html, body,  #root{
    display: flex;
    flex-direction: column;
    overflow: auto;
}

main {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(../img/home.jpg);
    background-size: cover;
}

/* HEADER MOBILE */

header {
    border-bottom: 4px solid white;
    padding: 10px 0px;
    position: fixed;
    backdrop-filter: blur(8px);
    top:0;
    left:0;
    width: 100%;
}

header img {
    display: flex;
    align-self: center;
}

header .logo {
    text-decoration: none;
}

header h2 {
    margin: 0px;
}

header span {
    font-size: 16px;
    font-weight: 300;
}

header nav {
    display: none;
}

#root .sidebar {
    display: none;
}

/* HOME-TOP MOBILE */

main .sub-home-top {
    margin-top: 145px;
    margin-bottom: 60px;
    padding: 20px;
}

.sub-home-top .text {
    margin-bottom: 20px;
    width: 90%;
}
 
.home-top .botones {
    margin-top: 40px;
    margin-bottom: 0px;
}

.home-top .boton-patrones {
    border: 1px solid white;
    padding: 15px;
    text-decoration: none;
}

.home-top .boton-proyecto {
    padding: 15px;
    text-decoration: none;
}

main .home-top .flecha-home-top {
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin: 70px auto 20px;
    text-decoration: none;
}

/* HOME-SECOND MOBILE */

main .home-second {
    border-top: 3px solid white;

}

main .home-second .seccion-patrones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto 60px;
}

#home-patrones .text p {
    margin: 20px;
}

.home-second .text h1 {
    text-align: center;
    margin: 80px auto 40px;
}

main .home-second .seccion-patrones .patron {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    padding: 10px;
    width: 33.33%;
    text-decoration: none;
    min-height: 140px;
}

.seccion-patrones .ver-mas-patrones {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    width: 66.66%;
    text-decoration: none;
}

.ver-mas-patrones .texto-ver-mas {
    margin: auto;
}

.patron .texto-patron {
    margin: 5px 5px 20px 5px;
}

.patron .flecha {
    display: flex;
    margin-right: 10px;
}

.flecha i {
    margin-left: 90%;
}

.home-second .seccion-patrones .patron .texto-patron p {
    margin: 0;
    font-size: 14px;
}

.patron .titulo-patron {
    width: 95%;
} 

.seccion-patrones .flecha-home-second {
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin: 60px auto 10px;
    text-decoration: none;
}

/* HOME-THIRD MOBILE */

main .home-third {
    border-top: 3px solid white;
}

main .home-third .titulo-home-third h1 {
    text-align: center;
    margin: 100px auto 60px;
    width: 90%;
}

.home-third .circulo {
    display: flex;
    border: 1px solid white;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    margin: 80px auto;
    text-decoration: none;
}

.circulo p{
    margin: auto;
}

.home-third .flecha-home-third {
    font-size: 32px;
    display: flex;
    justify-content: center;
    margin: 80px auto 120px;
    text-decoration: none;
}

/* HOME-FOURTH MOBILE */

main .home-fourth {
    border-top: 3px solid white;
}

.home-fourth .seccion-sobre-proyecto {
    margin: 30px auto 60px;
}

.home-fourth .titulo-sobre-proyecto  h1{
    text-align: center;
    margin: 80px auto 40px;
}

.seccion-sobre-proyecto .item {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 80%;
    margin: 40px auto;

}

.seccion-sobre-proyecto .ver-mas-sobre-proyecto {
    text-decoration: none;
    text-align: center;
    margin: 30px auto 15px;
}

.item .foto-circulo {
    display: flex;
    width: 80px;
    height: 80px;
    border-radius: 50%;
    margin-right: 20px;
    background-position: ;
}

.item .texto {
    width: 70%;

}

.item a {
    display: flex;
    text-decoration: none;
    font-size: 18px;
}

.item .texto .nombre {
    font-size: 14px;
    margin: 0px 8px 0px 0px;
}

.item .texto .descripcion {
    font-size: 12px;
    margin-top: 1px;
    margin-bottom: 5px;
    margin-left: 0px;
}

main .flecha-home-fourth {
    font-size: 32px;
    display: flex;
    justify-content: flex-end;
    margin: 30px 40px 95px;
    text-decoration: none;
}

/* FOOTER MOBILE */

main .footer {
    border-top: 3px solid white;
}

.footer .contacto {
    margin: 40px auto;
    text-align: center;
}

.contacto .titulo {
    font-size: 22px;
}

.footer .copyright {
    margin: 40px auto;
    text-align: center;
    font-size: 12px;
}

.copyright a {
    text-decoration: none;
}

/* NOT FOUND MOBILE */

main .not-found {
    margin-top: 80px;
}

main .not-found h2 {
    padding: 50px;
    justify-content: center;
    margin-bottom: 200px;
}

main .not-found .flecha-anterior {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 30px;
    text-decoration: none;
}

/* PATRONES MOBILE */

main .patrones {
    margin-top: 80px;
}

main .patrones .seccion-patrones {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    margin: 20px auto 120px;
}

.patrones .text h1 {
    text-align: center;
    margin: 10px auto 20px;
}

.patrones .text p {
    padding: 20px;
    margin: 0;
}

main .patrones .seccion-patrones .patron {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid white;
    padding: 5px;
    width: 33.33%;
    text-decoration: none;
    min-height: 140px;
}

.seccion-patrones .ver-mas-patrones {
    display: flex;
    flex-direction: column;
    border: 1px solid white;
    padding: 10px;
    width: 66.66%;
    text-decoration: none;
}

.ver-mas-patrones .texto-ver-mas {
    margin: auto;
}

.patron .texto-patron {
    margin: 5px 5px 20px 5px;
}

.patron .flecha {
    display: flex;
    margin-right: 10px;
}

.flecha i {
    margin-left: 90%;
    margin-bottom: 10px;
}

.patrones .seccion-patrones .patron .texto-patron p {
    margin: 0;
    font-size: 14px;
}

.patron .titulo-patron {
    width: 85%;
} 

.patrones .flecha-anterior {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 30px;
    text-decoration: none;
}

/* PATRON PAGINA MOBILE */

main .patron-pagina {
    margin-top: 80px;
}

.patron-pagina .flecha-anterior {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 30px;
    text-decoration: none;

}

.patron-pagina h2 {
    text-align: center;
    width: 90%;
    margin: 10px auto 20px;
}

.patron-pagina p {
    margin: 20px;
}

.patron-pagina .segundo {
    margin-bottom: 40px;
}

/* EMPRESAS MOBILE */

main .empresas {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.empresas .flecha-anterior {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 30px;
    text-decoration: none;

}

.empresas .text h1 {
    text-align: center;
    width: 90%;
    margin: 10px auto 20px;
}

.empresas .text p {
    margin: 20px
}

.empresas .seccion-empresas {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 100%;
    padding: 15px;
    margin: 10px auto 60px;
}

.seccion-empresas .empresa {
    width: 33.33%;
    display: flex;
    justify-content: center;
}

.seccion-empresas .circulo-empresa {
    display: flex;
    border: 1px solid white;
    width: 105px;
    height: 105px;
    border-radius: 50%;
    margin: 5px;
    text-decoration: none;
}

.circulo-empresa p {
    font-size: 12px;
    margin: auto;
    padding: 15px;
    text-align: center;
}

/* EMPRESA PAGINA MOBILE */

main .empresa-pagina {
    margin-top: 80px;
}

.empresa-pagina .flecha-anterior {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 30px;
    text-decoration: none;
}

.empresa-pagina h2 {
    text-align: center;
    width: 90%;
    margin: 10px auto 20px;
}

.empresa-pagina p {
    margin: 20px;
}

.empresa-pagina .patron-etiqueta {
    display: flex;
    justify-content: center;
    width: 50%;
    border: 1px solid white;
    border-radius: 10px;
    margin: auto;
    font-size: 12px;
    padding: 3px;
}

.empresa-pagina a {
    display: block;
    margin: 30px 20px;
}

.empresa-pagina a i {
    margin-right: 10px;
}

/* OPORTUNIDADES MOBILE */

main .oportunidades {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.oportunidades .flecha-anterior {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 30px;
    text-decoration: none;

}

.oportunidades .text h1 {
    text-align: center;
    width: 90%;
    margin: 10px auto 20px;
}

.oportunidades .text p {
    margin: 20px 0px 20px 20px
}

.oportunidades .oportunidad {
    border: 1px solid white;
    border-radius: 10px;
    padding: 20px;
    margin: 20px;
    min-width: 120px;
}

.oportunidad p {
    text-align: center;
}

.oportunidad a {
    text-decoration: none;
}

/* OPORTUNIDADES-PAGINA MOBILE */

/* SOBRE-PROYECTO MOBILE */

main .sobre-proyecto {
    display: flex;
    flex-direction: column;
    margin-top: 80px;
}

.sobre-proyecto .seccion-sobre-proyecto {
    display: flex;
    flex-direction: column;
    margin: auto;
}


.sobre-proyecto .flecha-anterior {
    font-size: 32px;
    display: flex;
    justify-content: flex-start;
    margin: 20px 30px;
    text-decoration: none;

}

.sobre-proyecto h1 {
    text-align: center;
    width: 90%;
    margin: 10px auto 10px;
}

.sobre-proyecto p {
    margin: 20px;
}

.sobre-proyecto a {
    display: flex;
    flex-direction: column;
    margin: auto;
    max-width: 75%;
}

.sobre-proyecto .text .seccion-sobre-proyecto .item .texto a {
    margin-left: 0;
    display: flex;
    flex-direction: row;
}

.logos p {
    text-align: center;
}

.sobre-proyecto .logo {
    padding: 20px;
}

/* DESKTOP */

@media (min-width: 1280px) {

html body #root {
    flex-direction: row;
}

main {
    width: 100%;
}

.home-top, .home-second, .home-third, .home-fourth, .footer, .not-found {
    margin-left: 20%;
}

.patrones, .patron-pagina, .empresas, .empresa-pagina, .sobre-proyecto, .item {
    margin-left: 20%;
}

/* HEADER DESKTOP */

header {
    border-bottom: none;
    border-right: 4px solid white;
    padding: 0px 20px;
    position: fixed;
    backdrop-filter: blur(8px);
    top:0;
    left:0;
    width: 20%;
}

header nav {
    display: flex;
    flex-direction: column;
}

header img {
    display: none
}

header h2 {
    padding: 50px 10px;
}

header span {
    font-size: 16px;
    font-weight: 300;
}

#root .sidebar {
    display: none;
}

/* HOME-TOP DESKTOP */

main .sub-home-top {
    padding: 120px;
    margin-top: 120px;
    margin-bottom: 0;
}

main .sub-home-top .text {
    width: 80%;
}
 
.home-top .botones {
    margin-top: 100px;
}

main .home-top .flecha-home-top {
    margin: 120px auto 30px;
}

/* HOME-SECOND DESKTOP */

main .home-second .seccion-patrones {
    padding: 60px 120px;
    margin: 20px auto;
}

.home-second .text h1 {
    margin: 90px auto 40px;
}

#home-patrones .text p {
    margin: 0px 120px;
}

.seccion-patrones .flecha-home-second {
    margin: 100px auto 0px;
}

/* HOME-THIRD DESKTOP */

main .home-third {
    padding: 80px 120px;
    margin-bottom: 0;
}

.home-third .circulo {
    margin: 100px auto;
}

.home-third .flecha-home-third {
    margin: 80px auto 100px;
}

/* HOME-FOURTH DESKTOP */

main .home-fourth {
    padding: 40px 120px;
    margin-bottom: 0;
}

.seccion-sobre-proyecto .titulo-sobre-proyecto h1{
    margin-bottom: 40px;
}

.seccion-sobre-proyecto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.seccion-sobre-proyecto .item {
    justify-content: center;
    width: 40%;
    margin: 20px
}

.seccion-sobre-proyecto .ver-mas-sobre-proyecto {
    width: 100%;
    margin: 15px auto 15px;
}

.item .texto .descripcion {
    font-size: 10px;
    margin: 0px 5px 5px 0px
}

main .flecha-home-fourth {
    margin: 30px auto;
}

/* NOT FOUND DESKTOP */

main .not-found h2 {
    padding: 50px;
    margin-bottom: 250px;
    text-align: center;
}

main .not-found .flecha-anterior {
    margin: 20px 100px;
}

/* PATRONES DESKTOP */

main .patrones .seccion-patrones {
    padding: 20px 180px 60px;
    margin: 20px auto;
}

.patrones .flecha-anterior {
    margin: 20px 100px;
}

.patrones .text p {
    padding: 20px 180px;
}

/* PATRON PAGINA DESKTOP */

.patron-pagina .text {
    padding: 30px 180px 250px;
}

.patron-pagina .flecha-anterior {
    margin: 20px 100px;
}

/* EMPRESAS DESKTOP */

.empresas .flecha-anterior {
    margin: 20px 100px;
}

.empresas .text p {
    padding: 20px 180px;
}

.empresas .seccion-empresas {
    padding: 0px 250px;
    margin: 20px auto;
}

.seccion-empresas .circulo-empresa {
    margin: 15px 5px;
}

/* EMPRESA PAGINA DESKTOP */


.empresa-pagina .flecha-anterior {
    margin: 20px 100px;
}

.empresa-pagina .patron-etiqueta {
    width: 25%;
}

.empresa-pagina a {
    margin: 0px 20px;
}

.empresa-pagina .descripcion-empresa, .web-empresa {
    padding: 20px 180px;
}

/* OPORTUNIDADES DESKTOP */

main .oportunidades {
    margin-left: 20%;
}

.oportunidades .flecha-anterior {
    margin: 20px 100px;
}

.oportunidades .text p {
    padding: 20px 180px;
    margin: 20px;
}

.oportunidades .seccion-oportunidades {
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 10px;
    margin-bottom: 50px;
    width: 75%;
    text-decoration: none;
}

.oportunidades .oportunidad {
    width: 50%;
}

.oportunidad p {
    text-align: center;
}

/* SOBRE-PROYECTO DESKTOP */

.sobre-proyecto .seccion-sobre-proyecto {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.sobre-proyecto .text {
    padding: 0px 180px 50px;
}


.sobre-proyecto .text h1 {
    margin: 0px
}

.sobre-proyecto .flecha-anterior {
    margin: 20px 100px;
}

.sobre-proyecto .primero {
    margin: 60px 20px;
}

.sobre-proyecto .logos {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

}

.sobre-proyecto .logo {
    margin: auto;
    max-width: 50%;
}

}
